<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635921344671-bba8iit1850je41sj10p017bfgi0n1gk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635921344671-bba8iit1850je41sj10p017bfgi0n1gk</string>
	<key>API_KEY</key>
	<string>AIzaSyBp7sBK99TxhGNECs6pP_5nf0R9SYNikvU</string>
	<key>GCM_SENDER_ID</key>
	<string>635921344671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.condalbaterra.albaterrapp</string>
	<key>PROJECT_ID</key>
	<string>albaterra-8f0bc</string>
	<key>STORAGE_BUCKET</key>
	<string>albaterra-8f0bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635921344671:ios:7ed8f4548ce65bc4a7daaa</string>
	<key>DATABASE_URL</key>
	<string>https://albaterra-8f0bc-default-rtdb.firebaseio.com</string>
</dict>
</plist>